{% extends "base.html" %}{% load bootstrap3 %}
{% block form %}
    <div class="jumbotron" style="margin-top:20px; margin-bottom: 0">
        <div class="img"></div>
        <div class="container">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <h1>Update Document</h1>
                {% bootstrap_form form %}
                <div class="form-group">
                    <label class="control-label" for="other">You can specify a new category here:</label>
                    <div class="loader" hidden></div>
                    <div class="row">
                        <div class="col-md-10">
                            <input type="text" maxlength="50" class="form-control" id="add-cat-input">
                        </div>
                        <div class="col-md-1">
                            <a id="add-cat-btn" class="btn btn-primary" data-href="{% csrf_token %}"
                               style="margin-left:40px "> <span class="glyphicon glyphicon-plus"></span>Add Category</a>
                        </div>
                    </div>
                    <h4>Notes: Fields with * are required</h4>
                    <input type="submit" value="Update" class="btn-primary btn">
                </div>
            </form>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $("#add-cat-btn").click(function (e) {
                e.preventDefault();
                let name = $("#add-cat-input").val();
                let api_url = `/categories/ajax/add-cat/`;
                $(`.loader`).show();
                $.ajax({
                    url: api_url,
                    method: "POST",
                    data: {
                        'csrfmiddlewaretoken': `{{ csrf_token }}`,
                        'name': name,
                    },
                    success: function (data) {
                        if (data.created) {
                            $('#category-choice').append($('<option>', {
                                value: data.pk,
                                text: name
                            }));
                            $("label[for='other']").text("Created successfully now you can choose from options above");
                            $("#add-cat-input").val("");
                        }
                        else {
                            $("label[for='other']").text("Category is already exist")
                        }
                    },
                    complete: function (data) {
                        $(`.loader`).hide()
                    },
                    statusCode: {
                        400: function () {
                            alert(`Bad request`);
                        },
                        404: function () {
                            alert(`Not found`);
                        },
                        500: function () {
                            alert(`Internal server error`);
                        },
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        if (XMLHttpRequest.readyState === 0) {
                            alert(`No connection`);
                        }
                    }
                });
            });
        });
    </script>
{% endblock %}
