{% extends 'base.html' %}{% load document_template_tags %}
{% block title %}
    <title>{{ document|title }}</title>
{% endblock %}
{% block ref %}
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
{% endblock %}
{% block form %}
    <div class="book-detail">
        <div class="container">
            <div class='book-card'>
                <div class='image'>
                    <div class='content'>
                        <div class='book-cover'>
                            <img src="{{ document.image.url }}">
                        </div>
                    </div>
                    <ul class='book-meta'></ul>
                </div>
                <div class='text book-text'>
                    <div class='genre'>
                        Category:
                        {% for topic in document.topic.all %}
                            <a href="{% url 'category_detail' topic.pk %}">{{ topic|title }}</a>,
                        {% endfor %}
                        <br>Level:
                        {% for level in document.level.all %}
                            {{ level }},
                        {% endfor %}
                    </div>
                    <h1 class='heading'>
                        {{ document.title|title }} </h1>
                    <div class='author'>
                        {% if document.posted_user.is_active %}
                            <a href="{% url 'user_detail' document.posted_user.userprofileinfo.pk %}">
                                Posted by {{ document.posted_user|title }} </a>
                        {% else %}
                             Posted by {{ document.posted_user|title }}
                        {% endif %}
                        at {{ document.submit_date }}<br/>
                        Last edited: {{ document.edited_date }}
                    </div>
                    <div class='rating'>
                        <span class="glyphicon glyphicon-star"></span>
                        {% if rating is None %}
                            <span class="rating-text">0 votes</span>
                        {% else %}
                            <span class="rating-text">{{ rating|floatformat }} Rating/ {{ number_of_rate }} Votes</span>
                        {% endif %}
                        <br/> <span class="glyphicon glyphicon-thumbs-up"></span> <span
                            id="num_likes">{{ document.liked_by.count }}</span> Likes
                    </div>

                    <article class='description'>
                        Review: {{ document.review }}
                        {% if not document.link is None %}
                            <p>Link: {{ document.link|urlize }}</p>
                        {% endif %}
                    </article>
                    {% if document.file %}
                        <a href="{% url 'download' document.file %}"> <span
                                class="glyphicon glyphicon-download-alt"></span> PDF file </a>
                    {% endif %}
                    <br/>
                    <footer class="footer">
                        {% if user.is_authenticated %}
                            {% if rated == -1 %}
                                <p id="user-rating-text"> You have not rated this </p>
                            {% else %}
                                <p>You rated this:</p>
                            {% endif %}
                            {% include 'document/new_star.html' %}
                        {% endif %}
                    </footer>
                </div>
            </div>
        </div>
    </div>
    <div class="comment-container">
        <div class="container">
            <h1>Comments <span class="loader-comment"></span></h1>
            <hr/>
            {% if user.is_authenticated %}
                <div class="media" id="comment-box">
                    <div class="media-left">
                        <img class="media-object img-circle" src="{{ user.userprofileinfo.avatar.url }}"
                             alt="User image" width="80px" height="80px">
                    </div>
                    <div class="media-body">
                        <div class="form-group">
                            <h4 class="media-heading"><strong>{{ comment.user|title }}</strong></h4>
                            <textarea class="form-control" rows="3" id="comment" onkeypress="comment();"
                                      placeholder="Press enter to insert comment shift-enter to make a new line..."></textarea>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="endless_page_template container">
            {% include 'document/comment_list.html' %}
        </div>
    </div>

    <div class="container">
        <h1 id="recommend">Recommendations</h1>
        <hr>
        {% get_document_recommendations document %}
    </div>
    <br/><br/>
    <script>
        function comment() {
            let api_url = `/documents/api/comment/`;
            if (window.event.keyCode === 13 && !event.shiftKey) {
                let content = $("#comment").val();
                if (content) {
                    $(`.loader-comment`).show();
                    $.ajax({
                        url: api_url,
                        method: "POST",
                        data: {
                            'document':{{ document.id }},
                            'content': content,
                            'csrfmiddlewaretoken': '{{ csrf_token }}',
                        },
                        success: function (data) {
                            $(`#no-comments`).hide();
                            content = escapeHtml(content);
                            $("#comment").val("");
                            {% if user.is_authenticated %}
                            $(`
                            <div class="media">
                                <div class="media-left">
                                    <img class="media-object img-circle" src="{{ user.userprofileinfo.avatar.url }}" alt="User image" width="80px"
                                         height="80px">
                                </div>
                                <div class="media-body" id=${data.id}>

                                    <h4 style="display: inline" class="media-heading"><a href="{% url 'user_detail' user.userprofileinfo.pk %}">
                                <strong>{{ user|title }}</strong></a></h4>
                                    <span class="comment-date">just now</span></br>
                                    <div style="float: right">
                                        <a class="edit-comment"><span class="glyphicon-edit glyphicon"></span></a>
                                        <a class="remove-comment" data-toggle="modal" data-target="#myModal-${data.id}">
                                            <span class="glyphicon glyphicon-remove"></span></a>
                                        <div class="modal fade" id="myModal-${data.id}" tabindex="-1" role="dialog"
                                             aria-labelledby="myModalLabel">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span></button>
                                                        <h4 class="modal-title" id="myModalLabel">Delete warning</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        Are you sure you want to delete this?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel
                                                        </button>
                                                        <a href="/documents/comment/delete/${data.id}/" type="button" class="btn btn-danger">Yes im
                                                            sure!</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <span class="current-comment">${content}</span>
                                </div>
                            </div>`).insertAfter("#comment-box");
                             {% endif %}
                        },
                        complete: function () {
                            $(`.loader-comment`).hide();
                        },
                        statusCode: {
                            400: function () {
                                alert(`Bad request`);
                            },
                            404: function () {
                                alert(`Not found`);
                            },
                            500: function () {
                                alert(`Internal server error`);
                            },
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            if (XMLHttpRequest.readyState === 0) {
                                alert(`No connection`);
                            }
                        }
                    });
                }
            }
        }
    </script>
    <script>
        $("#like-btn").click(function (e) {
            e.preventDefault();
            let api_url = `/documents/like/{{ document.id }}/`;
            $(`.loader`).show();
            $.ajax({
                url: api_url,
                method: "GET",
                data: {},
                success: function (data) {
                    if (data.is_like) {
                        $("#like-btn").html(`<span class="glyphicon glyphicon-thumbs-down"></span> Unlike`);
                    } else {
                        $("#like-btn").html(`<span class="glyphicon glyphicon-thumbs-up"></span> Like`);
                    }
                    $(`#num_likes`).text(data.num_likes);
                },
                complete: function (data) {
                    $(`.loader`).hide()
                },
                statusCode: {
                    400: function () {
                        alert(`Bad request`);
                    },
                    404: function () {
                        alert(`Not found`);
                    },
                    500: function () {
                        alert(`Internal server error`);
                    },
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    if (XMLHttpRequest.readyState === 0) {
                        alert(`No connection`);
                    }
                }
            });
        });
    </script>
    <script>
        $("#delete-btn-modal").click(function (e) {
            e.preventDefault();
            let api_url = `/documents/delete/api/{{ document.id }}/`;
            $(`.modal-body`).text(`Loading ...`);
            $.ajax({
                url: api_url,
                method: "GET",
                data: {},
                success: function (data) {
                    alert(`Delete successfully!`);
                    location.href = `/`
                },
                statusCode: {
                    400: function () {
                        alert(`Bad request`);
                    },
                    404: function () {
                        alert(`Not found`);
                    },
                    500: function () {
                        alert(`Internal server error`);
                    },
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    if (XMLHttpRequest.readyState === 0) {
                        alert(`No connection`);
                    }
                }
            });
        })
    </script>
    <script>
        $("#bookmark-btn").click(function (e) {
            e.preventDefault();
            let api_url = `/documents/bookmark/{{ document.id }}/`;
            $(`.loader`).show();
            $.ajax({
                url: api_url,
                method: "GET",
                data: {},
                success: function (data) {
                    if (data.bookmarked) {
                        $("#bookmark-btn").html(`<span class="glyphicon glyphicon-minus-sign"></span> Unbookmark`);
                    } else {
                        $("#bookmark-btn").html(`<span class="glyphicon glyphicon-bookmark"></span> Bookmark`);
                    }
                },
                complete: function (data) {
                    $(`.loader`).hide();
                },
                statusCode: {
                    400: function () {
                        alert(`Bad request`);
                    },
                    404: function () {
                        alert(`Not found`);
                    },
                    500: function () {
                        alert(`Internal server error`);
                    },
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    if (XMLHttpRequest.readyState === 0) {
                        alert(`No connection`);
                    }
                }
            });
        });
    </script>
{% endblock %}