{% extends 'base.html' %}{% load document_template_tags %}{% load bootstrap3 %}{% load staticfiles %}
{% block form %}
    <div class="book-detail">
        <div class="container">
            <div class='book-card'>
                <div class='image'>
                    <div class='content'>
                        <div class='book-cover'>
                            <img src="{{ document.image.url }}">
                        </div>
                    </div>
                    <ul class='book-meta'></ul>
                </div>
                <div class='text book-text'>
                    <div class='genre'>
                        Category:
                        {% for topic in document.topic.all %}
                            {{ topic|title }},
                        {% endfor %}
                    </div>
                    <h1 class='heading'>
                        {{ document.title|title }} </h1>
                    <div class='author'>
                        posted by {{ document.posted_user|title }}
                    </div>
                    <div class='rating'>
                        <span class="glyphicon glyphicon-star"></span>
                        {% if rating is None %}
                            <span class="rating-text">0 votes</span>
                        {% else %}
                            <span class="rating-text">{{ rating|floatformat }} Rating/ {{ number_of_rate }} Votes</span>
                        {% endif %}
                        <br/> <span class="glyphicon glyphicon-thumbs-up"></span> <span
                            id="num_likes">{{ document.liked_by.count }}</span> Likes
                    </div>

                    <article class='description'>
                        Review: {{ document.review }}
                        {% if not document.link is None %}
                            <p>Link: {{ document.link|urlize }}</p>
                        {% endif %}
                    </article>
                    {% if document.file %}
                        <a href="{% url 'download' document.file %}"> <span
                                class="glyphicon glyphicon-download-alt"></span> PDF file </a>
                    {% endif %}
                    <br/>
                    <footer class='footer'>
                        {% if user.is_authenticated %}
                            {% if rated == -1 %}
                                <p id="user-rating-text"> You have not rated this </p>
                            {% else %}
                                <p>You rated this:</p>
                            {% endif %}
                            {% include 'document/star.html' %}
                        {% endif %}
                    </footer>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h1>Comments</h1>
        <hr>
        {% if user.is_authenticated %}
            <div class="media" id="comment-box">
                <div class="media-left">
                    <img class="media-object img-circle" src="{{ user.userprofileinfo.avatar.url }}" alt="User image"
                         width="80px" height="80px">
                </div>
                <div class="media-body">
                    <div class="form-group">
                        <h4 class="media-heading"><strong>{{ comment.user|title }}</strong></h4>
                        <textarea class="form-control" rows="3" id="comment" onkeypress="comment();"
                                  placeholder="Press enter to insert comment shift-enter to make a new line..."></textarea>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="endless_page_template container">
        {% include 'document/comment_list.html' %}
    </div>
    <div class="container">
        <h1 id="recommend">Recommendations</h1>
        <hr>
        {% get_document_recommendations document %}
    </div>
    <br/><br/>
    <script>
        let entityMap = {
            '&': '&amp;',
            '<': '&lt;',
            '>': '&gt;',
            '"': '&quot;',
            "'": '&#39;',
            '/': '&#x2F;',
            '`': '&#x60;',
            '=': '&#x3D;'
        };

        function escapeHtml(string) {
            return String(string).replace(/[&<>"'`=\/]/g, function fromEntityMap(s) {
                return entityMap[s];
            });
        }

        function comment() {
            let api_url = `/documents/api/comment/`;
            if (window.event.keyCode === 13 && !event.shiftKey) {
                let content = $("#comment").val();
                if (content !== null && content !== ``) {
                    $.ajax({
                        url: api_url,
                        method: "POST",
                        data: {
                            'document':{{ document.id }},
                            'user': {{ user.id}},
                            'content': content,
                            'csrfmiddlewaretoken': '{{ csrf_token }}',
                        },
                        success: function (data) {
                            content = escapeHtml(content);
                            $("#comment").val("");
                            $(`<div class="media">
                               <div class="media-left">
                                  <img class="media-object img-circle" src="{{ user.userprofileinfo.avatar.url }}"
                                       alt="User image" width="80px" height="80px">
                                </div>
                                <div class="media-body">
                                    <h4 style="display: inline" class="media-heading"><strong>{{ user|title }}</strong></h4>
                                    a second ago </br>
                                    <span style="white-space: pre-wrap;">${content}</span>
                                </div>
                             </div>`)
                                .insertAfter("#comment-box");
                        },
                        error: function (error) {
                        }
                    })
                }
            }
        }
    </script>
    <script>
        $("#like-btn").click(function (e) {
            e.preventDefault();
            let likeUrl = $(this).attr(`data-href`);
            $.ajax({
                url: likeUrl,
                method: "GET",
                data: {},
                success: function (data) {
                    $('#num_likes').text(data.num_likes);
                    if (data.is_like) {
                        $("#like-btn").text("Unlike");
                    } else {
                        $("#like-btn").text("Like");
                    }
                },
                error: function (error) {
                }
            })
        });
    </script>
{% endblock %}