{% extends 'base.html' %}
{% block content %}
    <div class="jumbotron" style="margin-top: 20px;">
        <h3>Thanks for your contribution. Admin will take a look at it before publication. </h3>
        <div style="margin-top: 20px">
            <a href="{% url 'add_doc' %}" class="btn-primary btn">
                <span class="glyphicon glyphicon-plus"></span> Add another document</a>
            <a href="{% url 'unappove_document_detail' pk %}" class="btn-primary btn" style="margin-left: 10px;">
                <span class="glyphicon glyphicon-eye-open"></span> View document </a>
        </div>
    </div>
{% endblock %}