{% load el_pagination_tags %}
{% paginate 6 documents_top_rating using "top_rating_page" %}
{% for doc in documents_top_rating  %}
{% endfor %}
{% get_pages %}

<h1>
    Top rating <span class='index-span'>{{ pages.previous }} {{ pages.next }}</span>
    <span class="loader"></span>
</h1>
<hr>
<div class="row">
    {% paginate 6 documents_top_rating using "top_rating_page"  %}
    {% for doc in documents_top_rating %}
        {% include 'document/document.html' %}
    {% empty %}
         <div class="container">
            <h4><strong>No documents found</strong></h4>
        </div>
    {% endfor %}
</div>
