<div class="row">
    {% for person in users %}
        <div class="col-md-2">
            <div class="card" onclick="location.href='{% url 'user_detail' person.userprofileinfo.id %}'">
                <figure class="thumb" style="text-align: center">
                    <div class="user-cover">
                        <img src="{{ person.userprofileinfo.avatar.url }}" class="img-circle"/>
                    </div>
                    <h2 class="overflow ellipsis">{{ person|title }}</h2>
                    <p><span class="glyphicon glyphicon-upload"></span> {{ person.approved_count }} posts</p>
                </figure>
            </div>
        </div>
    {% empty %}
         <div class="container">
            <h4><strong>No users found</strong></h4>
        </div>
    {% endfor %}
</div>
