{% extends 'base.html' %}{% load document_template_tags %}
{% block heading %}
    <div class="jumbotron jumbotron-billboard center-in-jumbotron jumbotron-index">
        <div class="img"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ui-widget">
                        <input id="tags" onkeypress="search();" placeholder="Search for documents, categories, users">
                        <button class="btn-primary btn btn-search" onclick="search_by_click();">
                            <span class="glyphicon glyphicon-search" style="margin-top:5px;"></span>
                        </button>
                    </div>
                    <a href="{% url 'add_doc' %}" class="btn btn-primary btn-lg btn-add"> <span
                            class="glyphicon glyphicon-plus"></span>Add a new document</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="endless_page_template">
        {% include 'document/top_6_latest.html' %}
    </div>
    <br/>
    <div class="endless_page_template">
        {% include 'document/top_6_likes.html' %}
    </div>
    <br/>
    <div class="endless_page_template">
        {% include 'document/top_6_rating.html' %}
    </div>
    <br/>
    <h1>Top contributors</h1>
    <hr>
    {% get_top_user %}
    <br/><br/>
{% endblock %}
