{% extends 'base.html' %}
{% block title %}
    <title>Admin page</title>
{% endblock %}
{% block ref %}
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
{% endblock %}
{% block content %}
    {% include 'accounts/user_jumbotron_part.html' %}
    <ul class="nav nav-tabs">
        <li role="presentation"><a href="{% url 'admin_page' user.userprofileinfo.pk %}">Documents</a></li>
        <li role="presentation"><a href="{% url 'admin_page_users' user.userprofileinfo.pk %}">Users</a></li>
        <li role="presentation" class="active"><a href="{% url 'admin_page_comments' user.userprofileinfo.pk %}">Comments</a></li>
    </ul>
    <h2>All Comments</h2>
    <hr/>
    <div class="endless_page_template">
        {% include 'accounts/comments.html' %}
    </div>
    <br/><br/>
{% endblock %}
