<!DOCTYPE html>{% load staticfiles %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="{% static 'login.css' %}">
        <script src="http://code.jquery.com/jquery-3.1.1.js"
                integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
        <script src="{% static 'login.js' %}"></script>
    </head>
    <body>
        <form method="post">
            {% csrf_token %}
            <div id="formWrapper">
                <div id="form">
                    <div class="form-item">
                    <input type="hidden" name="next" value="{{ next }}" />
                        {{ form.non_field_errors }}
                        {{ form.username.errors }}
                        <input type="text" name="username"
                               value="{{ form.username.value|default_if_none:'' }}"
                               id="email" class="form-style" autocomplete="on" placeholder="Username"/>
                    </div>
                    <div class="form-item">
                        {{ form.password.errors }}
                        <input type="password" name="password" id="password" class="form-style" placeholder="Password"/>
                    </div>
                    <p><a href="{% url 'register' %}">
                        <small>Dont have an account? Register here</small>
                    </a></p>
                    <div class="form-item">
                        <p class="pull-left"><a href="{% url 'index' %}">
                            <small>Back to homepage</small>
                        </a></p>
                        <input type="submit" class="login pull-right" value="Log In">
                        <div class="clear-fix"></div>
                    </div>
                </div>
            </div>
        </form>
    </body>
</html>