{% load el_pagination_tags %}{% paginate 12 documents using "unaprrove_documents_page" %}
{% if deleted %}
    <p>Documents are deleted successfully !</p>
{% endif %}
{% if approved %}
    <p>Documents are approved successfully !</p>
{% endif %}
<form method="post">
    {% csrf_token %}
    <div style="margin-bottom: 20px;">
        <button type="button" class="btn btn-primary" id="select-all">Select all</button>
        <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#myModal">
            Delete selected
        </button>
        <input type="submit" class="btn btn-primary" name="action" value="Approve selected">
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Delete warning</h4>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel
                    </button>
                    <input type="submit" class="btn btn-danger" id="delete-btn-modal" value="Delete" name="action">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="list-group">
                {% for doc in documents %}
                    {% if forloop.counter0 < 6 %}
                        {% if forloop.counter0|divisibleby:2 %}
                            <a href="{% url 'unappove_document_detail' doc.id %}"
                               class="list-group-item list-group-item-info ">{{ doc.title }}
                                <input class="checkbox"
                                       type="checkbox"
                                       value="{{ doc.id }}"
                                       name="checkbox">
                            </a>

                        {% else %}
                            <a href="{% url 'unappove_document_detail' doc.id %}"
                               class="list-group-item list-group-item ">{{ doc.title }}
                               <input class="checkbox"
                                       type="checkbox"
                                       value="{{ doc.id }}"
                                       name="checkbox">
                            </a>
                        {% endif %}
                    {% endif %}
                {% empty %}
                    <h4>No documents found</h4>
                {% endfor %}
            </div>
            {% show_pages %} <span class="loader"></span>
        </div>
        <div class="col-lg-6">
            <div class="list-group">
                {% for doc in documents %}
                    {% if forloop.counter0 >= 6  and forloop.counter0 < 12 %}
                        {% if forloop.counter0|divisibleby:2 %}
                            <a href="{% url 'unappove_document_detail' doc.id %}"
                               class="list-group-item list-group-item-info ">{{ doc.title }}
                                <input class="checkbox"
                                       type="checkbox"
                                       value="{{ doc.id }}"
                                       name="checkbox">
                            </a>
                        {% else %}
                            <a href="{% url 'unappove_document_detail' doc.id %}"
                               class="list-group-item list-group-item ">{{ doc.title }}
                                <input class="checkbox"
                                       type="checkbox"
                                       value="{{ doc.id }}"
                                       name="checkbox">
                            </a>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <br/><br/>
    </div>
</form>
<script>
    let selectBtn =  $(`#select-all`);
    selectBtn.click(function (e) {
       if(selectBtn.text()=== `Select all`){
           selectBtn.text(`Unselect all`);
           $(`.checkbox`).prop(`checked`,true);
       }
       else {
           selectBtn.text(`Select all`);
           $(`.checkbox`).prop(`checked`,false);
       }
    })
</script>