<div class="jumbotron" style="margin-top: 20px">
    <div class="row">
        <div class="col-lg-5">
            <div class="w3-card-4" style="width:100%">
                <header class="w3-container w3-white">
                    <h3>{{ user_profile.user.username|capfirst }}</h3>
                </header>
                <div class="w3-container w3-white" style="padding-bottom:10px; ">
                    <p>{{ user_profile.user.email }}</p>
                    <hr>
                    <img src="{{ user_profile.avatar.url }}" alt="Avatar" class="w3-left w3-circle w3-margin-right"
                         style="width:60px; height: 60px;">
                    <p style="word-wrap: break-word;"> Biography:
                        {% if not user_profile.biography %}
                            No information
                        {% endif %}
                        {{ user_profile.biography }}</p><br>
                </div>
                <p class="w3-block w3-dark-grey" style="padding: 10px;">
                    <span class="text-span glyphicon glyphicon-upload small"></span> {{ user_profile.user.document_set.count }}
                    posts
                    {% if user == user_profile.user %}
                        <a href="{% url 'update_user_detail' user_profile.id %}" class="btn btn-primary"
                           style="float: right;"><span class="glyphicon glyphicon-edit"></span> Edit profile</a>
                    {% endif %}
                    {% if user.is_superuser and not user_profile.user.is_superuser %}
                        {% if user_profile.user.is_active %}
                        <a class="btn btn-primary" id="deactivate-button" style="float: right;"><span
                                class="glyphicon glyphicon-edit"></span>Deactivate</a>
                        {% else %}
                            <a class="btn btn-primary" id="deactivate-button" style="float: right;"><span
                                class="glyphicon glyphicon-edit"></span>Activate</a>
                        {% endif %}
                        <div class="star-loader" style="float: right"></div>
                    {% endif %}
                </p>
            </div>
        </div>
        <div class="col-lg-7">
            <p><strong>Recent activity</strong></p>
            <div class="endless_page_template ">
                {% include 'accounts/activity_log_page.html' %}
            </div>
        </div>
    </div>
</div>

<script>
    $(`#deactivate-button`).click(function (e) {
        e.preventDefault();
        let api_url = `/accounts/deactivate/{{ user_profile.pk }}/`;
        $(`.star-loader`).show();
        $.ajax({
            url: api_url,
            method: "GET",
            data: {},
            success: function (data) {
                if (data.is_active) {
                    $(`#deactivate-button`).text(`Deactivate`);
                } else {
                    $(`#deactivate-button`).text(`Activate`)
                }
            },
            complete: function (data) {
                $(`.star-loader`).hide();
            },
            statusCode: {
                400: function () {
                    alert(`Bad request`);
                },
                404: function () {
                    alert(`Not found`);
                },
                500: function () {
                    alert(`Internal server error`);
                },
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                if (XMLHttpRequest.readyState === 0) {
                    alert(`No connection`);
                }
            }
        });
    });
</script>