{% extends "base.html" %}
{% load document_template_tags %}
{% block ref %}
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
{% endblock %}
{% block content %}
    {% include 'accounts/user_jumbotron_part.html' %}
    <h1> Posted Documents </h1>
    <hr/>
    {% get_documents_by_user user_profile.user %}
    {% if user.id == user_profile.user.id or user.is_superuser %}
        <h1> Unapproved Document</h1>
        <hr/>
        {% get_unapprove_documents_by_user user_profile.user %}
    {% endif %}
    <br/><br/>
{% endblock %}


